<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.mvit.mihajlo.actorsfinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@mipmap/ic_launcher"
            android:label="ActorsFinal">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.DetailActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Actor Detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".preferences.ToolbarPreferences"
            android:label="@string/activity_settings_name"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
